$screen-width: 360px;

$x-center: 180px;
$card-width: 240px;
$card-height: $card-width * 1.618;

$card-background-scale: 0.8;
$border-radius: 8px;

$tabs-height: 36px;
$client-area: 496px;
$client-area-tabs: $client-area - $tabs-height;


$CornflowerBlue: #4285F4;
